.toast {
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
}

.toastBody {
    font-size: 11px;
    color: grey;
    padding-top: 0px;
    margin-top: 0px;
}

.sender {
    background-color: darkblue;
    border: 2px solid steelblue;
    color: azure;
    font-size: 22px;
    font-weight: bold;
    padding-top: 0px;
    margin-top: 0px;
    padding: 5px;

}

.me {
    background-color: azure;
    border: 3px double gold;
    color: midnightblue;
    font-size: 22px;
    font-weight: bold;
    padding-top: 0px;
    margin-top: 0px;
    padding: 5px;

}

.chatItem {
    list-style: none;
}

.metadata {
    margin-left: 5px;
}