<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <main>
        <h1>Info Submitted:</h1>
        <div class="submitted">
            <p>Name: {{ name_on_template }}</p>
            <p>Location: {{ location_on_template }}</p>
            <p>Language: {{ language_on_template }}</p>
            <p>Comment: {{ comment_on_template }}</p>
            <p>preference: {{ preference_on_template }}</p>
            <p>Semesters: {{ semester_on_template }}</p>
        </div>

        <form action="/" class="inline">
            <button type="submit" class="btn btn-primary" style="margin-left: 200px;">Go Back</button>
        </form>

    </main>

</body>

</html>