.speak {
    width: 60%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submitBtn {
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 5px;
    background-color: rgb(89, 214, 31);
    border: 2px solid black;
    color: black;
}

.submitBtn:hover {
    background-color: rgb(54, 129, 20);
    color: white;
}

.submitBtn:active {
    background-color: rgb(149, 33, 153);
    color: white;
}

.serverMessage {
    font-size: 11px;
    color: black;
    padding-top: 0px;
    margin-top: 0px;
}

.hidden {
    display: none;
}

#inputBox {
    width: 300px;
    height: 60px;
}
